*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card{
    height: 100%;
    width: 250px;
    border: 2px solid red;
    margin: auto;
}
.img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}